<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="<%= attractions_path %>">All Attractions</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="<%= user_visited_path(current_user) %>">Places Ive Been </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="<%= user_todo_path(current_user)%>">My To Do </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="btn btn-sm btn-outline-primary" href="<%= logout_path %>" data-method="delete">Log out</a>
                    </li>
                </ul>
            </div>
        </nav>
    </head>
    <body class="text-center">
        <div class="bg">
            <div class="jumbotron vertical-center">
                <div class="container">
                <h2>New review for: </h2>
                <h2><%= Collection.find(params[:collection_id]).attraction.name %></h2>
                    <div id="review">
                        <div class="mainContent">
                                <%= form_with model: @review do |f| %>
                                    <%= f.hidden_field :collection_id, :value => params[:collection_id]%> 
                        
                                    <div class='field'>
                                        <%= f.label :rating, "Rating (0-5) ", class: "col-md-4 control-label" %>
                                        <%= f.text_field :rating %>
                                    </div>
                        
                                    <div class='field'>
                                        <%= f.label :comment, "Comments", class: "col-md-4 control-label" %>
                                        <%= f.text_field :comment, :class=>"input-xlarge" %>
                                    </div>
                        
                                    <div class="upload-btn-wrapper">
                                        <button class="btn">Upload Pictures</button>
                                        <%= f.file_field :uploads, multiple: true, class: "form-control" %>
                                    </div><br>
                        
                                    <input type="submit" class="btn btn-primary" value="Submit">
                                <% end %>
                        </div>
                    </div>
                </div>
            </div>
        <div>
    </body>
</html>