<h1><%=@attraction.name%></h1>
<h2>Location:<%=@attraction.location%></h2>
<h2>Hours:<%=@attraction.hrs%></h2>
<h2>Cost:<%=@attraction.price%></h2>
<h2>Hours:<%=@attraction.hrs%></h2>
<h2>Website:<%=@attraction.website%></h2>
<h2>Category:<%=@attraction.category%></h2>
<h3>About:<%=@attraction.description%></h3>

