<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="<%= attractions_path %>">All Attractions</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="<%= user_visited_path(current_user) %>">Places Ive Been </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="<%= user_todo_path(current_user)%>">My To Do </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="btn btn-sm btn-outline-primary" href="<%= logout_path %>" data-method="delete">Log out</a>
                    </li>
                </ul>
            </div>
        </nav>
    </head>
    <body>
        <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <section class="jumbotron text-center">
                <div class="container">
                    <h1><%= @attraction.name %><h1>
                    <div class="card-deck mb-3 text-center">
                    </div>
                        <p>
                            <%= form_with model: @collection do |f| %>
                                <%= f.hidden_field :attraction_id, :value => params[:id]%> 
                                <%= f.hidden_field :visited, :value => false%>
                                <%= f.submit '+ To Do', :class => "btn btn btn-outline-primary" %>
                            <% end %>
                            <%= form_with model: @collection do |f| %>
                                <%= f.hidden_field :attraction_id, :value => params[:id]%> 
                                <%= f.hidden_field :visited, :value => true%>
                                <%= f.submit '+ Visited', :class => "btn btn btn-outline-primary" %>
                            <% end %>
                        </p>
                    <p class="lead text-muted">
                        <%= @attraction.description %>
                    </p>
                </div>
            </section>
            <p class="lead">Official Website: <a href=<%=@attraction.website%>><%=@attraction.website%></a></p>
            <p class="lead">Location: <%=@attraction.location%></p>
            <p class="lead">Hours: <%=@attraction.hrs%></p>
            <p class="lead">Cost: <%=@attraction.price%></p>
            <p class="lead">Visitor Uploads: </p>
        </div>
        <div class="card-deck mb-3 text-center">
            <div class="container">
                <div class="row">
                    <% @images.each{ |pic| %>
                        <div class="col-md-4">
                            <div class="card mb-4 shadow-sm">
                                <%= image_tag pic, :size => "360x240" %>
                            </div>
                        </div>
                    <% } %>
                <div>
            </div>
        </div>

        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Latest Reviews</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4">
                    <% @all_reviews.each do |r| %>
                        <li>
                            <%= r.collection.user.first_name %>: <%= r.comment %>
                        </li>
                    <% end %>
                </ul>
            </div>
        </div>
    </div>
    <body>
</html>